body {
  background: linear-gradient(45deg, #000000, #454545);
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 20px;
  font-weight: bold;
}

h1 {
  font-family: "Times New Roman", Times, serif;
  color: white;
}

h2 {
  color: red;
}

p {
  color: rgb(255, 255, 255);
}

#grid {
  display: grid;
  grid-template-columns: repeat(3, 116px);
  grid-template-rows: repeat(3, 116px);
  gap: 2px;
  justify-content: center;
  margin: 20px auto;
}

#grid div {
  background-color: #a0a0a0;
  border-radius: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  cursor: pointer;
}

#multiPlayer {
  margin-top: 5px;
  padding: 2px 3px;
  font-size: 0.75rem;
  cursor: pointer;
  width: 70px;
  height: 30px;
  border-radius: 10%;
}

#vsBot {
  margin-top: 5px;
  padding: 2px 3px;
  font-size: 0.75rem;
  cursor: pointer;
  width: 70px;
  height: 30px;
  border-radius: 10%;
}

#reset {
  margin-top: 20px;
  padding: 2px 3px;
  size: 1rem;
  cursor: pointer;
  width: 100px;
  height: 50px;
  border-radius: 50%;
}

.active {
  background-color: rgb(0, 0, 255);
  color: white;
  border: 2px solid rgb(0, 0, 255);
}

.x-mark {
  color: rgb(255, 51, 0);
  font-size: 2em;
  text-align: center;
  line-height: 1;
}

.o-mark {
  color: rgb(0, 26, 255);
  font-size: 2em;
  text-align: center;
  line-height: 1;
}

#grid div:hover:not(.x-mark):not(.o-mark) {
  background-color: #e3e3e3;
  transition: background-color 0.3s ease;
}
